

.contenedorAdminTablas{
    text-align: center;
    margin: 10vh;
}

.contenedorTabla{
    text-align: center;
    margin: 10vh;
    width: auto;
}

.listarTablas{
    text-align: center;
}

.listarTablas ul li{
    list-style: none;
    font-size: 2rem;
}

table {
    margin: 0 auto;
    background-color: gray;
    padding: 2%; 
    border-collapse: collapse; 
    width: 90%; 
}

table th, table td {
    padding: 1em; 
}


table th {
    background-color: #333;
    color: white;
}


table tr:nth-child(even) {
    background-color: #f2f2f2;
}


table tr:nth-child(odd) {
    background-color: #ddd;
}
