@import url('https://fonts.cdnfonts.com/css/getvoip-grotesque');

* {
  font-family: 'GetVoIP Grotesque', sans-serif;
}


.contenedorAdminTablas{
    text-align: center;
    margin: 10vh;
}

.contenedorTabla{
    text-align: center;
    margin: 10vh;
    width: auto;
    max-height: 60vh;  
    overflow-y: auto;
    position: relative;
}

.listarTablas{
    text-align: center;
}

.listarTablas ul li{
    list-style: none;
    font-size: 2rem;
    margin: 4vh;
}

.listarTablas ul li a{
    list-style: none;
    font-size: 2rem;
    margin: 4vh;
    text-decoration: none;
    transition: 0.2s;
    color: black;
}

.listarTablas ul li a:hover{
    list-style: none;
    font-size: 2.6rem;
    margin: 4vh;
    color: white;
    font-style: italic;
    background-color: black;
    padding: 2vh;
}

table {
    margin: 0 auto;
    background-color: gray;
    padding: 2%; 
    border-collapse: collapse; 
    width: 90%;  
  
}

table th, table td {
    padding: 1em; 
}


table th {
    background-color: #333;
    color: white;
}


table tr:nth-child(even) {
    background-color: #f2f2f2;
}


table tr:nth-child(odd) {
    background-color: #ddd;
}

